<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wso.tvt.localdevice" android:versionCode="1" android:versionName="1">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <application android:label="Private Local Device Probe" android:debuggable="true" android:allowBackup="false" android:extractNativeLibs="true">
    <activity android:name="com.wso.tvt.local.LocalDeviceProbeActivity" android:exported="true" />
  </application>
</manifest>
